
@{
    ViewBag.Title = "UnhandledError";
}

<div class="row">
    <div class="col-md-12">
        <div">
            <h3>Oops! Something went wrong.</h3>
            <p>
                We are fixing it! Please come back in a while.
                <br />
            </p>
            <p>
                <a href="/" class="btn"> Return home </a>
                <br>
            </p>
        </div>
</div>

