<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Win Gallery. By Yulia Dimitrova</p>
        </footer>
    </div>
</nav>
